h1 {
	font-family: Verdana, Arial, sans-serif;
    color: white;
	background: #F4C63D;;
	margin-bottom: 30px;
	text-align: center;
	font-size: 40px;
}

p {
	font-family: Verdana, Arial, sans-serif;
	color: #444;
	font-size: 16px;
}
